.container-proyect {
  padding: 20px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container-proyect > h1 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container-proyect > p {
  font-size: 20px;
}

.button-back {
  border-radius: 5px;
  background-color: black;
  padding: 10px;
  transition: 500ms ease;
}

.button-back:hover {
  background-color: rgb(61, 61, 61);
}

.container-images {
  display: flex;
  gap: 20px;
}

.container-images img {
  width: 500px;
}

@media (max-width: 1861px) {
  .container-images img {
    width: 350px;
  }

  .container-proyect > p {
    font-size: 18px;
  }
}

@media (max-width: 1326px) {
  .container-images img {
    width: 300px;
  }

  .container-proyect > h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}

@media (max-width: 1162px) {
  .container-images {
    flex-wrap: wrap;
  }

  .container-images img {
    width: 100%;
  }

  .container-proyect > p {
    font-size: 16px;
  }

  .container-proyect > h1 {
    text-align: center;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .container-proyect {
    padding: 0px;
  }

  .button-back {
    display: block;
    margin: auto;
  }
}
