.container-body {
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  margin-top: 50px;
}

.container-body > h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.container-project {
  display: flex;
  gap: 100px;
}

.project {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-image-web {
  display: block;
}

.image-image-mobil {
  display: none;
}

.project h2 {
  font-size: 30px;
}

.dividor {
  height: 1px;
  background-color: black;
  width: 100%;
  margin-bottom: 50px;
}

.dividor-2 {
  height: 1px;
  background-color: black;
  width: 100%;
  margin: 50px 0px;
}

.button-project {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-top: 20px;
  transition: 500ms ease;
}

.button-project > div {
  width: 80%;
  height: 100%;
  background-color: white;
  color: black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  position: relative;
  transition: transform 500ms ease;
}

.button-project:hover > .icon-button {
  transform: translateX(3px);
  transition: transform 500ms ease;
  left: 4px;
}

.button-project:hover {
  background-color: rgb(61, 60, 60);
}

.faden-up {
  transform: translateY(-20px); /* Inicia por encima de la posición final */
  opacity: 0;
  animation: faden 1s ease-in forwards; /* Agrega 'forwards' para que la animación se quede en el estado final */
}

@keyframes faden {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Termina en la posición final */
    opacity: 1;
  }
}
@media (max-width: 1605px) {
  .image-image-web {
    display: none;
  }

  .image-image-mobil {
    display: block;
  }
}

@media (max-width: 1527px) {
  .container-project {
    gap: 50px;
  }
}

@media (max-width: 1402px) {
  .project {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 772px) {
  .container-project {
    flex-wrap: wrap;
  }

  .container-body > h1 {
    text-align: center;
  }

  .project {
    text-align: center;
  }
  .button-project {
    margin: auto;
    margin-top: 20px;
  }

  .image-image-mobil {
    margin: auto;
  }
}
