.container-knowledge {
  width: 94%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  gap: 100px;
}

.container-knowledge > h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #5d8a84;
}

.dividor {
  height: 1px;
  background-color: #5d8a84;
  margin-bottom: 50px;
  transition: 1.5s ease-in;
}

.galery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card-image {
  width: 500px;
  height: 300px;
  overflow: hidden;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.card-image img {
  object-fit: cover; /* o contain, dependiendo de lo que desees */
  width: 100%;
  height: 100%;
}

@media (max-width: 772px) {
  .container-knowledge > h1 {
    text-align: center;
  }
}

@media (max-width: 694px) {
  .container-knowledge > h1 {
    text-align: center;
    font-size: 30px;
  }
}
